{% extends  "layout.twig" %}
{% block title %}About page{% endblock %}

{% block content %}
    <div class="page-content">
        <h1>About page</h1>
        <img src="/assets/img/bender2.png" alt="image">
    </div>
{% endblock %}